@font-face {
    font-family: rickymorty;
    src: url("/fonts/get_schwifty.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Regular.ttf") format("true type");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Medium.ttf") format("true type");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto-Bold.ttf") format("true type");
    font-style: normal;
    font-weight: 700;
}


body {
    min-height: 100vh;
    background-image: url(/images/bg-space-desktop.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto";
}

main {
    display: grid;
}

.main-navbar {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(232, 154, 199, .6);
    padding: 20px 5px;
    z-index: 1;
}

.header-container {}

.collapsable-container {
    position: absolute;
    z-index: 9999;
    top: 80px;
    left: 0;
    background-color: rgba(232, 154, 199, .4);
    width: 80%;
    margin: 0 10%;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0 4px;

}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: transparent;

}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;

}

.scrollbox-inner {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.scrollbox-inner,
.scrollbox:hover {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #e89ac7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar-list {
    list-style: none;
    margin-left: 20px;

}

.sidebar-list-element {
    cursor: pointer;
    padding: 30px 0;

}

.sidebar-footer {

    padding: 30px 0;
    background-color: transparent;


}


.main-wrapper {
    position: relative;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background-color: transparent;
    display: flex;

}

.main-content {
    background-color: transparent;
    margin: 50px auto;
    padding: 40px;
}

.cards-container {
    margin-top: 50px;
    border-top: 3px solid #e89ac7;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.card {
    border: none;
}


.character-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 3px solid #e89ac7;
    padding-bottom: 30px;
    padding-left: 20px;

}

.character-body {
    padding-left: 20px;
}

.clickable-span {
    cursor: pointer;
}

.clickable-span:hover,
.sidebar-list-element:hover,
.clickable-episode-title:hover {
    color: #97ce4c;
}











@media only screen and (max-width: 650px) {

    body {
        background-image: url(/images/bg-space-mobile.jpg);
    }

    .body-fixed {
        position: fixed;
        width: 100%;
    }


    .main-navbar {
        display: flex;
    }

    .header-heading {
        position: relative;
        left: 28px;
    }

    .sidebar {
        display: none;

    }

    .scrollbox {
        visibility: visible;

    }

    ::-webkit-scrollbar-thumb {
        background: #97ce4c;
    }

    .sidebar-list {
        list-style: none;
        position: relative;
        right: 15px;
        margin-left: 0;
    }

    .main-wrapper {
        left: 0;
        width: 100%;
        min-height: auto;
    }

    .main-content {
        text-align: center;
    }

    .cards-container {
        border-top: 3px solid #97ce4c;
    }

    .character-header {
        border-bottom: 3px solid #97ce4c;
    }

    .character-body {
        text-align: justify;
    }

    .clickable-span:hover,
    .sidebar-list-element:hover,
    .clickable-episode-title:hover {
        color: #97ce4c;
    }



}