@font-face {

    font-family: rickymorty;

    src: url(/fonts/get_schwifty.ttf);

}

body {
    min-height: 100vh;
    background-image: url(/images/bg-space-desktop.png);
    background-size: cover;
    background-attachment: fixed;

}

main {
    display: grid;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #e89ac7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0 4px;

}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: transparent;

}

.scrollbox {
    overflow: auto;
    padding-right: 10px;
    visibility: hidden;

}

.scrollbox-inner {
    display: flex;
    flex-direction: column;
}

.scrollbox-inner,
.scrollbox:hover {
    visibility: visible;
}

.sidebar-list {
    list-style: none;


}

.sidebar-list-element {
    cursor: pointer;
    padding: 25px 0;

}

.sidebar-footer {

    padding: 30px 0;
    background-color: transparent;


}


.main-wrapper {
    position: relative;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    background-color: transparent;
    display: flex;

}

.main-content {
    background-color: transparent;
    margin: 50px auto;
    padding: 40px;
}

.cards-container {
    margin-top: 50px;
    border: none;
}

.card {
    border: none;
}


.character-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 2px solid #e89ac7;
    padding-bottom: 30px;
    padding-left: 20px;

}

.character-body {
    padding-left: 20px;
}












@media only screen and (max-width: 650px) {

    body {
        background-image: url(/images/bg-space-mobile.jpg);
    }

    .sidebar {
        display: none;

    }

    .main-wrapper {
        left: 0;
        width: 100%;


    }
}